---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Frontend Mentor | Intro section with dropdown navigation">
  <div class="w-full min-h-screen bg-almost-white">
    <Navbar />
    <main class="pb-24 xl:pt-8 xl:pb-28">
      <Hero />
    </main>
    <Footer />
  </div>
</Layout>
